html {
    cursor: url("images/Mouse.png"), auto;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    border: 0;
    padding: 0;
}

section {
    margin: 0;
    border: 0;
    padding: 0;
}

#BG {
    display: inline-block; /* necessary to make body the same dimensions as #BG_img. Use Inspect to check their dimensions. */
    height: 180vh;
    position: absolute; /* pushes BG_img into the background */
    /* background-image: url("images/Senior_Thesis_Map_Spring.png");
    background-position: top left;
    background-origin: border-box;
    background-attachment: scroll;
    background-size: 75%; */
}

#BG_img {
    height: 100%; /* % of its container, #BG */
    /* prevent from getting highlighted blue */
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: relative;
    z-index: 1;
}

#BG_img_old {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.8s ease;
}

#BG_img_old.fading {
    opacity: 1;
}

/* #leaves_container, #leaves_canvas, */
#snow_canvas {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    /* prevent from getting highlighted blue */
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#title {
    position: absolute; /* lets this div overlap with sections */
    line-height: 0em; /* line-height = leading */
    margin-inline: 1em; /* left and right */
    filter: drop-shadow(0 0 0.25rem rgb(255, 217, 0));
}

button {
    filter: drop-shadow(0 0 0.25rem rgb(255, 217, 0));
    /* removing CSS default button appearance. Using <button> allows Tab to highlight and Enter it. */
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: url("images/Mouse_Pointer.png"), pointer;
}

#open_instructions {
    position: fixed;
    right: 2%; /* % of its container, #fixed_stuff */
    top: 2%;
    height: 15%;
    min-height: 40px;
    border-radius: 50%; /* the button was sticking out of the icon */
}

#Guide_Button {
    height: 100%;
}

#Guide_Button:hover {
    cursor: url("images/Mouse_Pointer.png"), pointer;
    transform: rotate(25deg);
}

#instructions {
    z-index: 3;
    position: fixed;
    display: block;
    padding: 2em;
    border-radius: 25px;
    background-color:aliceblue;
    /* background-position: left top; */
    /* background-size: cover; */
    height: 45%; /* must be a set height to control the inner div's overflow */
    min-width: 40%;
    top: 20%;
    left: 20%;
    right: 20%;
    /* BORDERS https://www.w3schools.com/cssref/tryit.php?filename=trycss3_border-image-repeat */
    --mask: 
        linear-gradient(#000 0 0) 50%/calc(100% - 55.5px) calc(100% - 55.5px) no-repeat,
        radial-gradient(farthest-side,#000 98%,#0000) 0 0/60px 60px round;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

#instructions div {
    height: 100%;
    overflow: auto; /* makes overflow generate a scroll bar */
    text-align: center;
}

@font-face {
    font-family: "Laila-Bold";
    src: url("fonts/Laila/Laila-Bold.ttf");
}

@font-face {
    font-family: "Laila-SemiBold";
    src: url("fonts/Laila/Laila-SemiBold.ttf");
}

@font-face {
    font-family: "Laila";
    src: url("fonts/Laila/Laila-Medium.ttf");
}

h1 {
    font-family: Laila-Bold;
    font-style: normal;
    font-size: clamp(20pt, 8vh, 48pt);
}

#instructions div h2 {
    margin: 0;
    margin-bottom: 0.5em;
    font-family: Laila-SemiBold;
    font-style: normal;
    font-size: clamp(16pt, 5vh, 36pt);
}

#instructions div p {
    margin: 0;
    font-family: Laila;
    font-weight: normal;
    font-style: normal;
    font-size: clamp(12pt, 3vh, 24pt);
}

.close-button {
    position: absolute; /*takes the button out of #instructions's padding*/
    float: right;
    top: 3;
    right: 3;
    height: 15%;
}

.close-button:hover {
    cursor: url("images/Mouse_Pointer.png"), pointer;
    transform: rotate(25deg);
}

.close-button #X_Button {
    height: 100%;
}

#slider {
    z-index: 2;
    -webkit-appearance: none;
    appearance: none; /* remove default appearance */
    position: fixed;
    bottom: 10%;
    left: 15%;
    width: 70%;
    height: 3%;
    border-radius: 25px;
    opacity: 0.7;
    outline: none;
    background-image: linear-gradient(to right,
        white,
        white 24%,
        black 24%,
        black 24.5%,
        white 24.5%,
        white 50%,
        black 50%,
        black 50.5%,
        white 50.5%,
        white 75%,
        black 75%,
        black 75.5%,
        white 75.5%,
        white 100%);
    cursor: url("images/Mouse.png"), auto;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    background-image: url(images/Slider_Knob.png);
    background-size: cover;
    background-color: none;
    filter: drop-shadow(0 0 0.25rem rgb(255, 217, 0));
    aspect-ratio: 1/1;
    height: 170%;
    width: auto;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: url("images/Mouse_Pointer.png"), pointer;
    transform: rotateZ(var(--thumb-rotate, 0deg));
}

/* slider knob for Firefox */
#slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-image: url(images/Slider_Knob.png);
    background-size: cover;
    background-color: none;
    filter: drop-shadow(0 0 0.25rem rgb(255, 217, 0));
    aspect-ratio: 1/1; /* doesn't work in Firefox?? */
    height: 170%;
    width: auto;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: url("images/Mouse_Pointer.png"), pointer;
    transform: rotateZ(var(--thumb-rotate, 0deg));
}

.dot {
    display: inline-block;
    position: absolute;
    height: 4%;
    width: auto;
    fill: blanchedalmond;
    filter: drop-shadow(0 0 0.25rem rgb(255, 217, 0));
    animation-name: spin;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

/* Dot SVG's black-filled part. For its original look, check index.html */
.dot .cls-1 {
    animation-name: blinking;
    animation-duration: 1250ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes blinking {
    0% {
        fill: black;
        stroke: black;
    }
    100% {
        fill: blanchedalmond;
        stroke: blanchedalmond;
    }
}

#art1 {
    top: 30%;
    left: 32%;
}

#art2 {
    top: 50%;
    left: 5%;
}

#art3 {
    top: 80%;
    left: 44%;
}

#art4 {
    top: 37%;
    left: 54%;
}

.preview {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    padding: 0;
    border-radius: 1em;
    background-color: black;
    max-width: 15%; /* stays there upon reaching max-width even if text wraps down leaving a gap */
    max-height: 30%;
    min-height: min-content;
    font-size: 1em;
    pointer-events: auto;
    z-index: 5;
}

/*positions are the corresponding dot's same top but left +2 */
#art1Preview {
    top: 30%;
    left: 34%;
}

#art2Preview {
    top: 50%;
    left: 7%
}

#art3Preview {
    top: 80%;
    left: 46%;
}

#art4Preview {
    top: 37%;
    left: 56%;
}

.preview div {
    overflow: auto;
    display: none;
}

.artlink {
    display: block;
    color: white;
    background-color: black;
    border-radius: 1em;
    padding: 0.6em 0.9em;
	cursor: url("images/Mouse_Pointer.png"), pointer;
    font-family: Laila;
    font-size: clamp(12pt, 3vh, 24pt);
    text-decoration: underline;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

.artlink:hover {
    /* background-color: white;
	color: black;
    outline-offset: -2px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: black; */
    text-decoration: none;
}

#unicorn {
    transform: scaleX(-1);
    position: absolute;
    top: 18%;
    left: 3%;
    height: 12%;
    width: auto;
    z-index: 1;
    filter: drop-shadow(0rem 0rem 0.25rem rgb(50, 50, 50));
}

#unicorn img {
    height: 100%;
    display: none;
}